.navbar.navbar-default.navbar-fixed-top
  .container
    .navbar-header
      button.navbar-toggle(type='button', data-toggle='collapse', data-target='.navbar-collapse')
        span.sr-only Toggle navigation
        span.icon-bar
        span.icon-bar
        span.icon-bar
      a.navbar-brand(href='https://www.mycasebuilder.com')
        i.fa.fa-cube
        | MyCaseBuilder
    .collapse.navbar-collapse
      ul.nav.navbar-nav
        li(class=title=='Home'?'active':undefined)
          a(href='/') Home
        li
          a(href='/app')
            | App

        if user && (user.isAdmin() || user.isAffiliate() || user.isRep())
          li
            a(href='/users') Users

        if user && (user.isAdmin() || user.isLibrarian() || user.isAffiliate() || user.isRep())
          li
            a(href='/cases') Cases

        if user && (user.isAdmin() || user.isLibrarian() || user.isAffiliate() || user.isRep())
          li
            a(href='/shapes') Shapes

        if user && (user.isAdmin() || user.isAffiliate() || user.isRep())
          li
            a(href='/designs') Designs

        if user && (user.isAdmin() || user.isAffiliate() || user.isRep())
          li
            a(href='/stores') Stores

        if user && (user.isAdmin())
          li
            a(href='/carts') Carts
        li
            a(href='/app/orders') Orders    

      ul.nav.navbar-nav.navbar-right
        if !user
          li(class=title=='Login'?'active':undefined)
            a(href='/login') Login
          li(class=title=='Create Account'?'active':undefined)
            a(href='/signup') Create Account
        else
          li.dropdown(class=title=='Account Management'?'active':undefined)
            a.dropdown-toggle(href='#', data-toggle='dropdown',data-cypress='user-menu')
              if user.profile.picture
                img(src='#{user.profile.picture}')
              else
                img(src='#{user.gravatar(60)}')
              | #{user.profile.name || user.email || user.id}&nbsp;
              i.caret
            ul.dropdown-menu
              li
                a(href='/account', data-cypress='my-account') My Account
              li.divider
              li
                a(href='/logout', data-cypress='logout') Logout
