extends ../layout

block content
  .page-header
    h3 Users
      small &nbsp; (#{total})

      form.form-inline.small.pull-right.search-form
        .form-group.has-clear.has-feedback
          label Search: &nbsp;
          input.form-control.input-sm(name='search', value='#{search}')
          span.glyphicon.glyphicon-remove.form-control-clear.form-control-feedback(style="cursor: pointer; pointer-events: all;")

  if docs.length
   table.table
    thead
      tr
        th Email
        th Role
        th

    tbody
      each user in docs
        tr
          td
            a(href= 'users/#{user.email}')
              = user.email
          td= user.role.name
          td
            a(href='users/edit/#{user.email}').btn.btn-success Edit
    tfoot
      tr
        td.text-center(colspan=3)
          ul.pagination(style="margin-left:-105px;")
            li(class=page < 2 && 'disabled')
              a(href=!!search ? '?page=1&search=#{search}' : '?page=1', aria-label='Previous')
                span(aria-hidden='true') &laquo;

            li(class=page < 2 && 'disabled')
              a(href=!!search ? '?page=#{page - 1}&search=#{search}' : '?page=#{page - 1}', aria-label='Previous')
                span(aria-hidden='true') Previous

            - var menuStart = Math.max(((pages - 10) < page) ? (pages - 10) : (parseInt((page-1) / 10) * 10), 0)
            - var menuEnd = Math.min((menuStart + 10), pages)
            - var m = menuStart

            while m++ < menuEnd
              li(class=m === page && 'active')
                a(href=!!search ? '?page=#{m}&search=#{search}' : '?page=#{m}') #{m}

            li(class=page === pages && 'disabled')
              a(href=!!search ? '?page=#{page + 1}&search=#{search}' : '?page=#{page + 1}',aria-label='Next')
                span(aria-hidden='true') Next

            li(class=page === pages && 'disabled')
              a(href=!!search ? '?page=#{pages}&search=#{search}' : '?page=#{pages}',aria-label='Next')
                span(aria-hidden='true') &raquo;

          h3.pull-left
            small
              | Page #{page} of #{pages}
  else
    p No users found.

block scripts
  script(type='text/javascript').
    $('form.search-form .form-control-clear').click(function() {
      $(this).prev('input').val(null);
      $('ul.pagination a').attr('href', function(idx, val) {
        return val.replace(/&search=.*/, '');
      });
      document.cookie = 'page=;path=/users;expires=Thu, 01 Jan 1970 00:00:01 GMT';
      document.cookie = 'search=;path=/users;expires=Thu, 01 Jan 1970 00:00:01 GMT;';
      history.pushState({}, document.title, location.pathname);
      location.reload();
    });
    $('form.search-form :input').on('change', function(){
      document.cookie = 'search='+$(this).val().trim()+';path=/users';
      document.cookie = 'page=;path=/users;expires=Thu, 01 Jan 1970 00:00:01 GMT';
      $(this).parents('form').first().submit();
    });
  style.
    .disabled a, .active a {
      pointer-events: none;
    }
