extends ../layout

block content
  .page-header
    h3 Cases
      small &nbsp; (#{total})

      .form-inline.small.pull-right
        .form-group
          input(type='hidden', name='_csrf', value=_csrf)
          a.btn.btn-sm.btn-info(href='/cases/new') New Case
      form.form-inline.small.pull-right.search-form(style="margin-right: 2em")
        .form-group.has-clear.has-feedback
          label Search: &nbsp;
          input.form-control.input-sm(name='search', value='#{search}')
          span.glyphicon.glyphicon-remove.form-control-clear.form-control-feedback(style="cursor: pointer; pointer-events: all;")

  if docs.length
    table.table
      thead
        tr
          th Avail
          th Name
          th Parts
          th MCB-ID
          th Length
          th Width
          th.hidden-xs Lower Length
          th.hidden-xs Lower Width
          th.hidden-xs Base Depth
          th OuterRule
          th

      tbody
        each _case in docs
          tr
            td
              if _case.available
                i.fa.fa-check
            td=_case.name
            td
              dl.nav.small(style="min-height:4.287em")
                dt=_case.parts.length + ' parts'
                each part in _case.parts.slice(0,2)
                  dd(style="text-indent:1em")=part.name
            td.mcbid-td(id='#{_case.mcbid}')=_case.mcbid
            //td=(_case.category ? _case.category.name : "?")
            td=_case.length
            td=_case.width
            td.hidden-xs=_case.lowerLength
            td.hidden-xs=_case.lowerWidth
            td.hidden-xs=_case.baseDepth
            td=_case.outerRule ? 'Y' : 'N'
            td
              a.btn.btn-success(href='/cases/edit/#{_case.mcbid}') Edit
      tfoot
      tr
        td.text-center(colspan=11)
          ul.pagination(style="margin-left:-105px;")
            li(class=page < 2 && 'disabled')
              a(href=!!search ? '?page=1&search=#{search}' : '?page=1', aria-label='Previous')
                span(aria-hidden='true') &laquo;

            li(class=page < 2 && 'disabled')
              a(href=!!search ? '?page=#{page - 1}&search=#{search}' : '?page=#{page - 1}', aria-label='Previous')
                span(aria-hidden='true') Previous

            - var menuStart = Math.max(((pages - 10) < page) ? (pages - 10) : (parseInt((page-1) / 10) * 10), 0)
            - var menuEnd = Math.min((menuStart + 10), pages)
            - var m = menuStart

            while m++ < menuEnd
              li(class=m === page && 'active')
                a(href=!!search ? '?page=#{m}&search=#{search}' : '?page=#{m}') #{m}

            li(class=page === pages && 'disabled')
              a(href=!!search ? '?page=#{page + 1}&search=#{search}' : '?page=#{page + 1}',aria-label='Next')
                span(aria-hidden='true') Next

            li(class=page === pages && 'disabled')
              a(href=!!search ? '?page=#{pages}&search=#{search}' : '?page=#{pages}',aria-label='Next')
                span(aria-hidden='true') &raquo;

          h3.pull-left
            small
              | Page #{page} of #{pages}

  else
    p No cases found.

block scripts
  script.
    $('form.search-form .form-control-clear').click(function() {
      $(this).prev('input').val(null);
      $('ul.pagination a').attr('href', function(idx, val) {
        return val.replace(/&search=.*/, '');
      });
      document.cookie = 'page=;path=/cases;expires=Thu, 01 Jan 1970 00:00:01 GMT';
      document.cookie = 'search=;path=/cases;expires=Thu, 01 Jan 1970 00:00:01 GMT;';
      history.pushState({}, document.title, location.pathname);
      location.reload();
    });
    $('form.search-form :input').on('change', function(){
      document.cookie = 'search='+$(this).val().trim()+';path=/cases';
      document.cookie = 'page=;path=/cases;expires=Thu, 01 Jan 1970 00:00:01 GMT';
      $(this).parents('form').first().submit();
    });
  style.
    .disabled a, .active a {
      pointer-events: none;
    }
